	<a href="user/{{id}}" class="profile-item-list__link profile-item-list__link-{{color}}">
		<div class="profile-item-list__image">
			<img src="/assets/images/uploads/profile_images/{{image}}.jpg" alt="{{name}}" width="68"/>
		</div>
		<div class="profile-item-list__name">
			<span></span>
			{{name}}
			<span></span>
		</div>
	</a>
