
	<div class="content__section">
		<div class="content__container">

			<a href="/" class="content__link-back">
				Back to Home
			</a>

			<div class="profile-item__container">

				<div class="profile-item-list__link profile-item-list__link-{{color}}"></div>

				<div class="profile-item__link">

					<div class="profile-item__image">
						<img src="/assets/images/uploads/profile_images/{{image}}.jpg" alt="{{name}}" width="100%" />
					</div>

					<div class="profile-item__name" style="color: {{color}}">
						{{name}}
					</div>

				</div>

			</div>
		</div>
	</div>
